*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color:transparent;
    /* border-bottom: 2px solid white; */
}
.logo-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#nav-item1{
    color:white;
    font-weight: 400;
    font-size:20px;
}
#nav-item1:hover{
    color: #e91e63;
}
#nav-item2:hover{
    color: #e91e63;
}
#nav-item3:hover{
    color: #e91e63;
}
#nav-item4:hover{
    color: #e91e63;
}
#nav-item5:hover{
    color: #e91e63;
}
#nav-item2{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item3{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item4{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item5{
    color: white;
    font-weight: 400;
    font-size:20px;
}
.home{
    background-color:black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid white;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.role{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    cursor: pointer;
    border: 10px#e91e63 solid;
}
.img{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Education{
  background-color:black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid white;
}
.Projects{
  background-color:black;
  color: white;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border:1px solid white;
}
.About{
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border:1px solid white;
}
.about-section {
/* background-color: #f9f9f9; */
color: white;
padding: 20px;
border-radius: 10px;
/* max-width: 750px; */
margin:10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-family: 'Arial', sans-serif;
color:white;
line-height: 1.6;
display: flex;
flex-direction: column;
/* gap: 20px; */
}

.about-section h1 {
font-size: 2em;
margin-bottom: 20px;
color:white;
border-bottom: 2px solid white;
padding-bottom: 10px;
}

.about-section p {
color: white;
font-size: 1.1em;
margin-bottom: 15px;
}
.about-section ul {
color: white;
font-size: 1.1em;
margin-bottom: 15px;
}

.about-section .highlight {
color: #007BFF;
font-weight: bold;
}

.Contact{
  background-color:black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid white;
}
.box-1{
  height: 400px;
  width: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  gap: 20px;
}
.box-1:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
input{
width: 80%;
height: 8%;
border-radius: 10px;
}
textarea{
width: 80%;
border-radius: 10px;
}
.button-submit{
width: 30%;
height: 8%;
color: white;
background-color: blue;
border-radius:10px;
border: 1px solid white;
}
.button-submit:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.footer-info{
margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-social{
/* margin-top: 5%; */
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
column-gap: 20px;
gap: 10px;
padding: 5%;
}

.footer{
width: 100%;
background-color:rgb(244, 236, 236);
border:2px solid black;
}
.b-tech,.inter,.th{
/* background-color: #e91e63; */
height: 160px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5%;
border-left:0.5px solid white ;
}
.b-tech:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.b-tech::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
left:6%;
top: 0;
background-color: white;
border: 2px solid white;
}
.inter:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.inter::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
left:6%;
top: 0;
background-color: white;
border: 2px solid white;

}
.th:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.th::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
left:6%;
top: 0;
background-color: white;
border: 2px solid white;

}
.icon{
width: 40px;
height: 40px;
}