@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Timmana&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color:transparent;
    /* border-bottom: 2px solid white; */
}
.logo-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#nav-item1{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item1:hover{
    color: #e91e63;
}
#nav-item2:hover{
    color: #e91e63;
}
#nav-item3:hover{
    color: #e91e63;
}
#nav-item4:hover{
    color: #e91e63;
}
#nav-item5:hover{
    color: #e91e63;
}
#nav-item2{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item3{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item4{
    color: white;
    font-weight: 400;
    font-size:20px;
}
#nav-item5{
    color: white;
    font-weight: 400;
    font-size:20px;
}
.home{
    background-color:black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid white;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5%;
    /* border:2px solid white; */
}
.my-name{
    color:white;
    font-family:'Timmana' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}
.role{
    color:white;
    font-size:13px;
}
.dp-img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    cursor: pointer;
    border: 3px#e91e63 solid;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.resume-btn{
    height: 40px;
    width: 115px;
    background-color:white;
    font-weight: bold;
    cursor: pointer;
    min-width:0;
    min-height:0;
    border-radius: 24Px;
    border: black solid;
    color: black;
}
.resume-btn:hover{
    background-color:#f45288;
    color:black;
}
.About{
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border:1px solid white;
}
.about-section {
/* background-color: #f9f9f9; */
color: white;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-family: 'Arial', sans-serif;
line-height: 1.6;
display: flex;
flex-direction: column;
}
.skills{
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    gap: 20%;
    border-top: 2px solid white;
}

.about-section h3 {
margin-bottom: 20px;
color:white;
border-bottom: 2px solid white;
/* padding-bottom: 10px; */
}

.about-section p {
    font-family:'Courier New', Courier, monospace;
color: white;
font-size:15px;
margin-bottom: 15px;
}
.about-section ul {
color: white;
margin-bottom: 15px;
}
.skills-list{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.about-section .highlight {
color: #007BFF;
font-weight: bold;
}
.skil-head{
    color: brown; 
    font-size:16px;
}
.Education{
    background-color:black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid white;
  }
  .education-heading{
      color:white;
      font-size: 30px;
      /* margin: -15%; */
  }
  .b-c{
    font-size: 13px;
  }
.b-tech,.inter,.th{
/* background-color: #e91e63; */
font-size: 15px;
height: 160px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left:10%;
border-left:0.5px solid white ;
}
.b-tech:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.b-tech::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
left:11%;
top: 0;
background-color: white;
border: 2px solid white;
}
.inter:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.inter::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
left:11%;
top: 0;
background-color: white;
border: 2px solid white;

}
.th:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.th::before{
content: '';
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
left:11%;
top: 0;
background-color: white;
border: 2px solid white;
}
.Projects{
    background-color:black;
    color: white;
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border:1px solid white;
  }
  
  .card-1{
      background-color: white;
      min-height:0%;
      padding: 5%;
      color: black;
      margin-top: 4%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:20px;
  
  }
  .card-1:hover{
      background-color:rgb(74, 187, 222);
      
  }
  .card-img{
      border: black solid 1px;
  }
  .site-link{
      color:white;
      background-color:rgb(25, 79, 229) ;
      padding: 3px;
      border:  white;
      border-radius: 5PX;
  }
.Contact{
  background-color:black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  border: white solid;
}
.box-1{
  height: 300px;
  width: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  gap: 20px;
}
.box-1:hover{
box-shadow: 0px 3px 12px 0px white;
border: 1px solid transparent;
}
.footer{
width: 100%;
background-color:rgb(244, 236, 236);
border:2px solid black;
}
.footer-info{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-social{
/* margin-top: 5%; */
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
column-gap: 20px;
gap: 10px;
padding: 5%;
}
.icon{
width: 30px;
height: 30px;
border-radius: 50%;
}
.copy-right{
    width: 100%;
    height:20px;
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right{
    p{
    margin: 10px;
    font-weight: bold;
    font-size: 12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}
@media(min-width:901px){
    .dp-img{
        border-radius: 50%;
        height: 350px;
        width: 350px;
        cursor: pointer;
        border: 5px#e91e63 solid;
    }
    .my-name{
        color:white;
        font-family: 'Timmana' ,sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 10%;
    }
    .role{
        color:white;
        font-size:18px;
    }
    .Projects{
        background-color:black;
        color: white;
        min-height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid white;
      }
      
      .card-1{
          background-color: white;
          min-height:0%;
          padding: 5%;
          color: black;
          margin-top:14%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:20px;
      
      }
      .card-1:hover{
          background-color:rgb(74, 187, 222);
      }
      .site-link{
          color:white;
          background-color:rgb(25, 79, 229) ;
          padding: 3px;
          border: 1px solid black;
          border-radius: 5PX;
      
      }
    .box-1{
        height: 300px;
        width: 400px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid white;
        gap: 20px;
      }
      .box-1:hover{
      box-shadow: 0px 3px 12px 0px white;
      border: 1px solid transparent;
      }
      .resume{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .resume-btn{
        height: 50px;
        width: 150px;
        background-color:white;
        font-weight: bold;
        cursor: pointer;
        min-width:0;
        min-height:0;
        border-radius: 24Px;
        border: black solid;
        color:black;
    }
    .resume-btn:hover{
        background-color:#f45288;
        color:black;
    }
    .Education{
        background-color:black;
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid white;
      }
      .education-heading{
          color:white;
          font-size: 30px;
          /* margin-top: -10%;
          margin-bottom: -10%; */
      }
      .s-a{
        font-size: 20px;
      }
      .site-link{
        color:white;
        background-color:rgb(25, 79, 229) ;
        padding: 3px;
        border:  white;
        border-radius: 5PX;
      /* .b-c{
        font-size: 15px;
      } */
}
.footer-social{
    margin-top: 6%;
}
}
@media(min-width:601px)and (max-width:900px){
    .dp-img{
        border-radius: 50%;
        height: 280px;
        width: 280px;
        cursor: pointer;
        border: 4px#e91e63 solid;
    }
    .my-name{
        color:white;
        font-family: 'Timmana' ,sans-serif;
        font-size: 40px;
        text-transform: uppercase;
    }
    .role{
        color:white;
        font-size:15px;
    }
    .box-1{
        height: 300px;
        width: 400px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid white;
        gap: 20px;
      }
      .box-1:hover{
      box-shadow: 0px 3px 12px 0px white;
      border: 1px solid transparent;
      }
}
